@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Karla:wght@300;400&family=Noto+Sans:wght@300;400&display=swap');

/* -------- Barre de Navigation ------------- */
  /* Marge, police d'écriture barre de navigation */
nav {
    padding:0 2%; /* marge intérieure 0 en hetbas */
    margin:  0;
    font-family: 'Amita', serif; 
    font-size: 17px;
    color: #ffffff;
  /**/
    display: flex; /* conteneur flexible */
    flex-wrap: row; /* sur 1 ligne */
    justify-content: space-between;
    align-items: center ;
    background-color: rgb(49, 153, 153);
    position: sticky; /* colle pour le defilement */
    top: 0%;
}

  /* Katia Guerrouahen*/
nav h1 {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 3px solid #fff ;
}
nav h1:hover {
    border-bottom-color: rgb(60, 191, 201)
}
nav h1, nav h1:visited {
    display: block;
    text-decoration: none;
    color: #fff;
}

/* Onglets*/
nav ul {
    display: flex;
    list-style-type: none ; /*retrait des pts*/
}
nav ul li {
    margin-left: 60px;
    cursor: pointer;
    border-bottom: 2px solid #fff ;
}
nav ul li:hover {
    border-bottom-color: rgb(60, 191, 201) ;
}

/* Lien hypertexte des onglets */
nav a, nav a:visited {
    display: block;
    text-decoration: none;
    color: #fff;
}
/* -------------------------------------------------------------------------------------------- */
/*background de la page entière*/
.background{
    
    background-image: url('image/backgroundbleu.jpg');
    background-size: cover;
    position: relative;
}

/* -------------------------------------------------------------------------------------------- */
/* -----------SECTION Bienvenue--------- */
.page-content {
    margin: 4%;
} 
.page-content header {
    margin-top: 5%;
    max-width: 95%;
    margin-left: 30px;
    text-align: center;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/image/FondF.png') ;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 1em;
}
  /*entête bienvenue*/
.page-content header h1 {
    margin: 2%;
    font-family: font-family 'Karla', sans-serif;
    font-size: 40px;
}
  /* En Formation BTS SIO SLAM */
.page-content header p {
    line-height: 30px;
    font-family: font-family 'Noto Sans', sans-serif;
    color: rgb(35, 167, 177);
    font-size: 30px;
}
/* --------- SECTION A PROPOS DE MOI -------- */
/* marge exterrieur*/

.page-content-section header {
    margin: 4%;
    margin-top: 4%;
    max-width: 90%;
}
/*entête A Propos de moi*/
.page-content-section header h1 {
    margin: 0%;
    text-transform: uppercase;
    font-family: font-family 'Karla', sans-serif;
    font-size: 35px;
    text-align: center;
}
/* Texte Présentation*/
.a-propos {
    color: rgb(22, 85, 90);
    font-size: 20px;
}
.a-propos p{
    margin-top: 3%;
    padding: 10px;
    max-width: 75%;
    margin-left: 10%;
    line-height: 25px;
    font-family: font-family 'Noto Sans', sans-serif;
}
/* --------- SECTION BTS SIO -------- */

.texte{
    color: rgb(22, 85, 90);
    font-size: 20px;
    margin-top: 2%;
    padding: 10px;
    max-width: 75%;
    margin-left: 10%;
    line-height: 25px;
    font-family: font-family 'Noto Sans', sans-serif;
}
.target-site-greta{
    margin-left: 40%;
}
/* ---------SECTION SITUATION PRO -------- */
/*image CV*/
 img {
     /* largeur à ne pas dépasser*/
    width: 30%;
    margin-left: 35%;
}

.page-content .bouton-bar {
  font-family: 'Amita', serif;
  font-size: 20px;
  color: color(srgb 12, 105, 112);
  font-weight: 400;
  line-height: 24px;
}
/* --------- SECTION CONTACT -------- */
/* Formulaire contact*/
.form {
  max-width: 600px;
  margin: 4rem auto 0 auto;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form textarea {
  min-height: 200px;
}

.form .btn {
  border: none;
  background: var(--color-body);
  color: #3da6b4;
  width: auto;
  min-width: 160px;
  font-size: 2rem;
  text-transform: uppercase;
}

.form .btn:hover {
  cursor: pointer;
  background: #0b6141;
}



/* --------- EN SAVOIR PLUS ------------- */
.page-content .bouton-ensavoirplus {
    margin: 10%;
    margin-top: 2%;
    display: block;
    text-decoration: none;
    font-family: 'Amita', serif;
    font-size:30px;
    background-color: rgb(8, 85, 90);
    color: black;
    text-align: center; 
    line-height: 56px;
}

#git
{
    margin-left: 50px;
}
.ReseauxSociaux 
{
    display: flex;
    flex-wrap: row; /* sur 1 ligne */
    justify-content: 5px ;
    align-items: center ;
    margin-left: 45%;
    list-style-type: none ;
}

/* Pied de Page */

footer {

    margin-top: 6%;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/image/FondF.png') ;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    font-size: 1.4rem;
}

/*Responsive : format mobile*/
@media screen and (max-width: 700px) 
{
    nav {
        justify-content: center;
    }

    nav ul {
        display: none;
    }

    .page-content header {
        margin-top: 10%;
        max-width: 100%;
    }
}
